<div class="cookie-modal">
  <div class="cookie-modal-content">
    <h2 class="cookie-modal-title">Our Cookie Policy</h2>
    <p class="cookie-modal-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>

    <div class="cookie-modal-btns">
      <button class="cookie-modal-btn accept">ACCEPT COOKIES</button>
      <button class="cookie-modal-btn decline">DECLINE COOKIES</button>
    </div>
  </div>
</div>
