<section id="gallery" class="section gallery-section">
  <h2 class="title black-stroke">Gallery</h2>
  <div class="swiper gallery-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="gallery-image"
          src="./img/gallery/1.jpg"
          srcset="./img/gallery/1.jpg 1x, ./img/gallery/1@2x.jpg 2x"
          alt="Gallery Image 1"
          width="202"
          height="359"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-image"
          src="./img/gallery/2.jpg"
          srcset="./img/gallery/2.jpg 1x, ./img/gallery/2@2x.jpg 2x"
          alt="Gallery Image 2"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-image"
          src="./img/gallery/3.jpg"
          srcset="./img/gallery/3.jpg 1x, ./img/gallery/3@2x.jpg 2x"
          alt="Gallery Image 3"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-image"
          src="./img/gallery/4.jpg"
          srcset="./img/gallery/4.jpg 1x, ./img/gallery/4@2x.jpg 2x"
          alt="Gallery Image 4"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-image"
          src="./img/gallery/5.jpg"
          srcset="./img/gallery/5.jpg 1x, ./img/gallery/5@2x.jpg 2x"
          alt="Gallery Image 5"
        />
      </div>
    </div>
    <div class="swiper-scrollbar gallery-scrollbar"></div>
  </div>
</section>
