<section id="description" class="section description-section">
  <h2 class="title black-stroke">Game Description</h2>

  <div class="description-grid">
    <img
      class="description-img"
      src="./img/description.png"
      srcset="./img/description.png 1x, /img/description@2x.png 2x"
      alt="game's picture"
      draggable="false"
    />

    <ul class="description-list">
      <li class="description-item">
        <p class="description-text">
          Welcome to Match Stars, where classic match-3 puzzles meet the power
          of unique star characters!
        </p>
      </li>
      <li class="description-item">
        <p class="description-text">
          Switch, swap, and blast through colorful levels while using special
          abilities from your Match Stars team.
        </p>
      </li>
      <li class="description-item">
        <p class="description-text">
          Each character has their own skills to help clear tiles, create
          explosive combos, and complete tricky puzzles.
        </p>
      </li>
      <li class="description-item">
        <p class="description-text">
          With hundreds of levels, exciting challenges, and powerful boosters,
          this is the ultimate match-3 adventure.
        </p>
      </li>
      <li class="description-item">
        <p class="description-text">
          Collect rewards, progress through unique worlds, and become a Match
          Stars champion!
        </p>
      </li>
    </ul>
  </div>
</section>
