<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Хедер</title>
    <link href="../scss/header.scss" rel="stylesheet" />
    <link href="../scss/styles.scss" rel="stylesheet" />
  </head>
  <body>
    <header class="header header--fixed">
      <div class="header__container">
        <a class="header__logo" href="#">
          <img
            src="img/logo.png"
            alt="Логотип гри"
            srcset="img/logo.png 1x, img/logo@2x.png 2x"
          />
        </a>

        <button class="header__burger" id="burger-button">
          <img
            src="img/burger-icon.png"
            alt="Меню"
            srcset="img/burger-icon.png 1x, img/burger-icon@2x.png 2x"
          />
        </button>

        <div class="header__nav-wrapper">
          <nav class="header__nav" id="header-nav">
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a class="header__nav-link" href="#">Home</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="#">Game Description</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="#">Gallery</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="#">Key Features</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="#"
                  >Main Characters Description</a
                >
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="#">Reviews</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="main-content"></main>

    <script>
      // JavaScript для відкриття/закриття бургер-меню
      const burgerButton = document.getElementById('burger-button');
      const headerNav = document.getElementById('header-nav');

      burgerButton.addEventListener('click', () => {
        headerNav.classList.toggle('header__nav--open');
      });
    </script>
  </body>
</html>
