<section class="key-features section" id="features">
  <h2 class="title black-stroke">Key Features</h2>

  <div class="key-features__contain">
    <div class="key-features__blue-block">
      <div class="key-features__list">
        <div class="key-features__item">
          <button class="key-features__button">Match-3 Fun with a Twist</button>
          <div class="key-features__text">
            <p>Enjoy classic match-3 gameplay with exciting new mechanics</p>
          </div>
        </div>

        <div class="key-features__item">
          <button class="key-features__button">Powerful Match Stars</button>
          <div class="key-features__text">
            <p>Unlock characters with unique abilities to help you win</p>
          </div>
        </div>

        <div class="key-features__item">
          <button class="key-features__button">Hundreds of Levels</button>
          <div class="key-features__text">
            <p>Explore a world full of exciting and challenging puzzles</p>
          </div>
        </div>

        <div class="key-features__item">
          <button class="key-features__button">Boosters & Power-ups</button>
          <div class="key-features__text">
            <p>Blast throught obstacles using powerful game boosters</p>
          </div>
        </div>

        <div class="key-features__item">
          <button class="key-features__button">Strategic Gameplay</button>
          <div class="key-features__text">
            <p>
              Participate in seasonal events and special challenges for extra
              rewards
            </p>
          </div>
        </div>

        <div class="key-features__item">
          <button class="key-features__button">
            Regular Events & Challenges
          </button>
          <div class="key-features__text">
            <p>
              Participate in seasonal events and special challenges for extra
              rewards
            </p>
          </div>
        </div>

        <div class="key-features__item">
          <button class="key-features__button">
            Leaderboards & Achievements
          </button>
          <div class="key-features__text">
            <p>Compete with friends and climb to the top!</p>
          </div>
        </div>
      </div>
    </div>

    <img
      class="key-features__image"
      src="img/phone-key-features-i.png"
      alt="Key Features"
      srcset="
        img/phone-key-features-i.png    1x,
        img/phone-key-features-i@2x.png 2x
      "
    />
  </div>
</section>
