<section class="key-features section" id="key-features">
  <h2 class="title black-stroke">Key Features</h2>
  <div class="key-features__blue-block">
    <div class="key-features__list">
      <div class="key-features__item">
        <button class="key-features__button" data-content="match-fun">
          Match-3 Fun with a Twist
        </button>
        <div class="key-features__text" id="match-fun">
          <hr class="key-features__divider" />
          <p>Enjoy classic match-3 gameplay with exciting new mechanics.</p>
        </div>
      </div>
      <div class="key-features__item">
        <button class="key-features__button" data-content="powerful-levels">
          Powerful Match Stars
        </button>
        <div class="key-features__text" id="powerful-levels">
          <hr class="key-features__divider" />
          <p>Unlock characters with unique abilities to help you win.</p>
        </div>
      </div>
      <div class="key-features__item">
        <button class="key-features__button" data-content="hundreds-levels">
          Hundreds of Levels
        </button>
        <div class="key-features__text" id="hundreds-levels">
          <hr class="key-features__divider" />
          <p>Explore a world full of exciting and challenging puzzles.</p>
        </div>
      </div>
      <div class="key-features__item">
        <button class="key-features__button" data-content="boosters-powers">
          Boosters & Power-ups
        </button>
        <div class="key-features__text" id="boosters-powers">
          <hr class="key-features__divider" />
          <p>Blast throught obstacles using powerful game boosters.</p>
        </div>
      </div>
      <div class="key-features__item">
        <button class="key-features__button" data-content="strategic-gameplay">
          Strategic Gameplay
        </button>
        <div class="key-features__text" id="strategic-gameplay">
          <hr class="key-features__divider" />
          <p>
            Participate in seasonal events and special challenges for extra
            rewards.
          </p>
        </div>
      </div>
      <div class="key-features__item">
        <button class="key-features__button" data-content="regular-events">
          Regular Events & Challenges
        </button>
        <div class="key-features__text" id="regular-events">
          <hr class="key-features__divider" />
          <p>
            Participate in seasonal events and special challenges for extra
            rewards.
          </p>
        </div>
      </div>
      <div class="key-features__item">
        <button
          class="key-features__button"
          data-content="leaderboards-achievements"
        >
          Leaderboards & Achievements
        </button>
        <div class="key-features__text" id="leaderboards-achievements">
          <hr class="key-features__divider" />
          <p>Compete with friends and climb to the top!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="key-features__image">
    <img
      src="img/phone-key-features-i.png"
      alt="Key Features"
      srcset="
        img/phone-key-features-i.png    1x,
        img/phone-key-features-i@2x.png 2x
      "
    />
  </div>
</section>
