<!-- <section class="section">FEATURES</section> -->
<section class="key-features section" id="key-features">
  <h2 class="title">Key Features</h2>
  <div class="key-features__content">
    <div class="key-features__list">
      <div class="key-features__item">
        <button class="key-features__button" data-content="match-fun">
          Match Fun with a Twist
        </button>
        <div class="key-features__text" id="match-fun">
          <p>Classic match-3 mechanics with a fresh and powerful twist.</p>
        </div>
      </div>
      <div class="key-features__item">
        <button class="key-features__button" data-content="powerful-levels">
          Powerful Match-3 Levels
        </button>
        <div class="key-features__text" id="powerful-levels">
          <p>
            Blast through hundreds of levels with unique layouts and challenging
            puzzles.
          </p>
        </div>
      </div>
      <div class="key-features__item">
        <button class="key-features__button" data-content="boosters-powers">
          Boosters & Power-ups
        </button>
        <div class="key-features__text" id="boosters-powers">
          <p>
            Unleash explosive power-ups and boosters to clear obstacles and
            crush your score.
          </p>
        </div>
      </div>
      <div class="key-features__item">
        <button class="key-features__button" data-content="unique-characters">
          Unique Characters
        </button>
        <div class="key-features__text" id="unique-characters">
          <p>
            Collect adorable characters with special abilities that help you on
            your journey.
          </p>
        </div>
      </div>
      <div class="key-features__item">
        <button class="key-features__button" data-content="rewards-challenges">
          Rewards, Events & Challenges
        </button>
        <div class="key-features__text" id="rewards-challenges">
          <p>
            Earn amazing rewards and participate in exciting events and
            challenges.
          </p>
        </div>
      </div>
      <div class="key-features__item">
        <button
          class="key-features__button"
          data-content="leaderboards-activities"
        >
          Leaderboards & Activities
        </button>
        <div class="key-features__text" id="leaderboards-activities">
          <p>
            Compete with friends on leaderboards and join activities for endless
            fun.
          </p>
        </div>
      </div>
    </div>
    <div class="key-features__image">
      <img
        src="img/phone-key-features-i.png"
        alt="Key Features"
        srcset="
          img/phone-key-features-i.png    1x,
          img/phone-key-features-i@2x.png 2x
        "
      />
    </div>
  </div>
</section>
