<section id="characters " class="section characters-section">
  <div class="characters-background"></div>
  <h2 class="title black-stroke">Main Characters Description</h2>
  <ul class="characters-list">
    <li class="character-item">
      <p class="character-name">Luna</p>
      <p class="character-descr">
        A bright and energetic star who can clear entire rows with her special
        beam
      </p>
    </li>
    <li class="character-item">
      <p class="character-name">Zane</p>
      <p class="character-descr">
        A cool strategist who creates explosive chain reactions with each move
      </p>
    </li>
    <li class="character-item">
      <p class="character-name">Mia</p>
      <p class="character-descr">
        A fun-loving star who multiplies power-ups and rewards
      </p>
    </li>
    <li class="character-item">
      <p class="character-name">Leo</p>
      <p class="character-descr">
        A fearless leader who can blast through the toughest obstacles with ease
      </p>
    </li>
  </ul>
</section>
