.footer-section {
  padding-inline: 34px;
  text-align: center;
  font-size: 12px;
}

.footer-list {
  padding-bottom: 8px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include media(desktop) {
    padding-bottom: 24px;
    grid-template-columns: repeat(3, auto);
    gap: 41px;
  }
}

.footer-link:hover {
  color: $_light_blue;
}
