.blured {
  backdrop-filter: blur(50px);
}

.blur-bg::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.header {
  width: 320px;
  height: 54px;
  padding-top: 6px;
  padding-inline: 16px;
  position: fixed;
  z-index: 5;
  transition: height $_transition-duration ease-in-out;

  @include media(desktop) {
    width: 1200px;
    height: 88px;
    padding: 8px;
  }

  &__container {
    height: 46px;
    padding-inline: 8px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    border: 1px solid $_dark-yellow;
    border-radius: 16px;
    background: rgba(206, 206, 206, 0.2);
    overflow: hidden;
    position: relative;
    transition: height $_transition-duration ease-in-out,
      border $_transition-duration ease-in-out,
      padding $_transition-duration ease-in-out;

    @include media(desktop) {
      height: 80px;
      padding-inline: 61px;
      align-items: center;
    }
  }

  &__logo img {
    width: 48px;
    height: 46px;

    @include media(desktop) {
      width: 81px;
      height: 78px;
    }
  }

  &__burger {
    width: 46px;
    height: 46px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(desktop) {
      display: none;
    }
  }

  &__nav {
    @include media(to-desktop) {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    gap: 72px;
    padding: 0 13px;
  }

  &__nav-link {
    padding: 14px 0;
    font-weight: 500;
    @include font(16, 24);
    transition: color $_transition-duration ease-in-out;

    &:hover {
      color: $_light-blue;
      text-shadow: none;
    }

    &:active {
      color: $_dark-blue;
      text-shadow: none;
    }
  }
}

//// Mob-menu
.header__container.opened {
  height: 345px;
  border: none;
}

.mob-menu__nav {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translateX(110%);
  opacity: 0;
  transition: transform $_transition-duration ease-in-out,
    opacity $_transition-duration ease-in-out;
  padding-bottom: 12.5px;
}

.header__container.opened .mob-menu__nav {
  transform: translateX(0);
  opacity: 1;
}

.mob-menu__list {
  display: grid;
  gap: 8px;
  justify-items: end;
}

.mob-menu__nav-link.title {
  margin: 0;
  height: 32px;
  font-size: 18px;
  padding-inline: 15px;
  transition: background-color $_transition-duration ease-in-out;

  &:hover {
    background-color: $_light-blue;
  }
}

.icon-burger {
  width: 30px;
  height: 20px;
}

.icon-burger {
  width: 2em;
  height: 2em;
}

.icon-burger-btn {
  width: 1.45em;
}
