.blured {
  backdrop-filter: blur(50px);
}

.header {
  width: 320px;
  height: 54px;
  padding-top: 6px;
  padding-inline: 16px;
  position: fixed;
  z-index: 5;

  @include media(desktop) {
    width: 1200px;
    height: 88px;
    padding: 8px;
  }

  &__container {
    height: 46px;
    padding-inline: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $_dark-yellow;
    border-radius: 16px;
    background: rgba(206, 206, 206, 0.2);
    overflow: hidden;

    @include media(desktop) {
      height: 80px;
      padding-inline: 61px;
    }
  }

  &__logo img {
    width: 48px;
    height: 46px;

    @include media(desktop) {
      width: 81px;
      height: 78px;
    }
  }

  &__burger {
    background: none;
    border: none;
    padding: 0;
    padding: 5px;

    @include media(desktop) {
      display: none;
    }
  }

  &__nav {
    @include media(to-desktop) {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    gap: 72px;
    padding: 0 13px;
  }

  &__nav-link {
    padding: 14px 0;
    font-weight: 500;
    @include font(16, 24);
    transition: all $_transition-duration ease-in-out;

    &:hover {
      color: $_light-blue;
      text-shadow: none;
    }

    &:active {
      color: $_dark-blue;
      text-shadow: none;
    }
  }
}
