@keyframes moveHeaderStars {
  0% {
    background-position: bottom 34px left 394px, bottom 1px right 394px,
      bottom 28px right 24px;
  }
  50% {
    background-position: bottom 48px left 374px, bottom 22px right 424px,
      bottom 44px right 12px;
  }
  100% {
    background-position: bottom 34px left 394px, bottom 1px right 394px,
      bottom 28px right 24px;
  }
}

@keyframes pulse {
  0%,
  20%,
  40%,
  60% {
    transform: scale(1);
  }
  10%,
  30%,
  50% {
    transform: scale(1.1);
  }
  60%,
  100% {
    transform: scale(1);
  }
}

.home-section.section {
  padding-top: 30px;

  @include media(desktop) {
    padding-top: 40px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 702px 1fr;
    position: relative;
  }
}

.home-background {
  @include media(desktop) {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: url('/img/star.png') no-repeat bottom 34px left 394px/ 96px 96px,
      url('/img/star.png') no-repeat bottom 1px right 394px/ 53px 53px,
      url('/img/star.png') no-repeat bottom 28px right 24px/ 56px 56px;
    animation: moveHeaderStars 5s infinite alternate linear;
  }
}

.home-page-wrapper {
  padding-top: 24px;

  @include media(desktop) {
    order: 1;
    padding-top: 91px;
  }
}

.home-picture {
  order: 2;
}

.home-picture img {
  border-radius: 12px;
}

.home-title {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 48px;
    padding: 0;
  }
}

.home-title-span {
  display: block;
  margin-bottom: 8px;
  font-size: 32px;
  color: $_dark-yellow;

  @include media(desktop) {
    margin-bottom: 24px;
    font-size: 48px;
  }
}

.home-subtitle {
  margin-bottom: 24px;
  font-size: 16px;

  @include media(desktop) {
    margin-bottom: 72px;
  }
}

.google-link {
  display: grid;
  gap: 10px;
  grid-template-columns: 30px 1fr 40px;
  align-items: center;
  border-radius: 8px;
  width: 288px;
  height: 72px;
  padding: 16px;
  background: $_light-blue;
  animation: pulse 6s infinite;

  @include media(desktop) {
    width: 238px;
  }

  &:hover {
    background-color: $_dark-blue;
    box-shadow: 0 1px 4px 0 rgba(39, 37, 37, 0.7);
  }

  &:active {
    opacity: 0.5;
  }
}

.icon-loader {
  margin-inline: auto;
}

.span-download {
  display: block;
  font-weight: 400;
  font-size: 16px;
}

.span-google {
  font-weight: 600;
  font-size: 12px;
  color: $_light-yellow;
}
