.key-features {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-size: 30px;
    margin-bottom: 24px;
    width: 241px;
    height: 58px;
    margin: 0 auto 24px; // Центруємо заголовок та додаємо відступ
    text-align: center; // Центруємо заголовок
  }

  &__blue-block {
    background-color: #4462c1;
    padding: 30px;
    border-radius: 12px;
    width: 424px;
    height: 816px; // Початкова висота синього блоку
    transition: height 0.3s ease; // Додаємо анімацію для зміни висоти
    border-radius: 12px;
  }

  &__list {
    width: 100%;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  &__button {
    width: 264px;
    height: 98px;
    padding: 20px;
    background-color: #edebae;
    color: #4462c1;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: height 0.3s ease;
  }

  &__text {
    display: none;
    padding: 20px;
    background-color: #4462c1;
    color: #edebae;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    &.active {
      display: block;
    }
  }

  &__divider {
    border: 1px solid #f5b000;
    margin-bottom: 10px;
  }

  &__image {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (min-width: 2000px) {
    padding-top: 80px;
    padding-bottom: 80px;

    &__blue-block {
      display: flex;
    }

    &__list {
      width: 50%;
      margin-right: 30px;
    }

    &__image {
      width: 50%;
    }
  }
}
