.policy-container {
  padding-top: 80px;
  padding-bottom: 16px;

  @include media(desktop) {
    padding-top: 88px;
    padding-bottom: 32px;
  }
}

.policy-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;

  @include media(desktop) {
    font-size: 36px;
  }
}

.policy-text {
  @include font(16, 24);
}

.policy-grid-container {
  margin-top: 32px;
  display: grid;
  gap: 32px;
}

.policy-subtitle {
  margin-bottom: 16px;
  // font-weight: 600;
  font-size: 20px;

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-inner-grid {
  display: grid;
  gap: 24px;
}

.policy-list-container {
  display: grid;
  gap: 16px;
}

.policy-list {
  text-decoration-skip-ink: none;
  list-style-type: disc;
  padding-left: 19px;
  display: grid;
  gap: 4px;
}

.policy-list-item {
  padding-left: 5px;
}

.policy-list-item::marker {
  font-size: 10px;
}

.policy-link {
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

.link-hover:hover::marker,
.policy-link:hover {
  color: $_light-blue;
  text-decoration: none;
}

.cookie-list {
  gap: 16px;
}

.cookie-list-text {
  margin-left: -18px;
}

br {
  display: block;
  margin-bottom: 16px;
  content: '';
}

.cookie-link {
  text-decoration: underline;
  text-decoration-thickness: from-font;
  display: inline;
  word-break: break-word;
  overflow-wrap: anywhere;
}
