@import './header.scss';
@import './minimal-header.scss';
@import './home.scss';
@import './benefits.scss';
@import './game-description.scss';
@import './gallery.scss';
@import './key-features.scss';
@import './main-characters-description.scss';
@import './reviews.scss';
@import './footer.scss';
@import './policy-terms.scss';

@import './cookie.scss';

@import './generals.scss';

:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;

  color: $_main-color;
  background-color: $_main_bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
